#header-color{
  background: linear-gradient(#e7f1f5, #d4deee);;
}
body{
    background-size: 110%;
}
.card-body{
    position:relative;
}
#header{
    margin-top:2%;
}
#aside{
    padding-top:7%;
    padding-bottom:30%;
}
h4{
    text-align:center;
}
.card-header{
    padding-top:10%;
    margin-left: auto;
    margin-right: auto;
    width: 6em
}
