<app-aside-bar></app-aside-bar>
  <div>
    <div class="main-content full_container">
      <section class="section" style="margin-top: -2%">
        <div class="section-body full_container">
          <div class="row full_container">
            <div class="col-12 col-md-6 col-lg-12 full_container">
              <div class="card card-light full_container">
                <div class="card-body full_container">
                  <div>Ajouter une feuille de temps
                  </div>
                  <div class="line full_container"></div>
                  <br />
                  <h6 id="visualTS">
                    Visualiser l’ensemble de vos feuilles de temps…
                  </h6>

                  <!-- voici la premiere section (firstGrayContent) -->
                  <div class="card-content1 mb-2 d-flex full_container">
                    <div class="line2 full_container"></div>

                    <div class="">
                      <h6 id="profileColl">Profil du collaborateur</h6>
                      <div class="d-flex">
                        <img class="rounded-circle"
                          src="https://scontent.fnbe1-2.fna.fbcdn.net/v/t1.6435-1/168544401_2958299887773318_4276280712870318848_n.jpg?stp=cp0_dst-jpg_e15_q65_s240x240&_nc_cat=109&ccb=1-6&_nc_sid=dbb9e7&_nc_ohc=WLjv6xUaIwYAX8HdaGy&_nc_ht=scontent.fnbe1-2.fna&oh=00_AT8erMGqAaMohf667gWMPzhHrZIDpfJgE6h2YRZ94gftSQ&oe=629FC7E8"
                          alt="" />
                        <div class="">
                          <h5 id="nameCollab">Med Ali Kheriji</h5>
                          <h6 id="roleCollab">Directeur de mission</h6>
                        </div>

                        <div style="margin-left: 250px;">
                          <span class="p-input-icon-left">
                            <i class="pi pi-users"></i>
                            <select id="collabSelect">
                              &nbsp;&nbsp;
                              <option selected hidden>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <h6 id="nomCol">Changer de collaborateur</h6>
                              </option>
                              &nbsp;&nbsp;
                              <option value="name">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <h6 id="nomCol">Med Ali Kheriji</h6>
                              </option>
                              &nbsp;&nbsp;
                              <option value="name">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <h6 id="nomCol">Karim Mehwechi</h6>
                              </option>
                            </select>
                          </span>
                        </div>




                          <div class="d-flex" style="margin-left: 200px;">
                            <p class="font-weight-bold" style="margin-top: -5px;">Période  </p>
                            <form #form="ngForm" class="ms-3">
                              <input type="date" #date_deb="ngModel" ngModel name="date_deb" (change)="getdate(date_deb.value)" id="collabSelect" >
                          </form>
                          </div>


                    </div>
                    </div>
                  </div>


                  <!-- voici la duxiéme section (secondGrayContent) -->
                  <div class="card-content2 mb-2 full_container">
                    <div class="d-flex pt-2 ms-3">
                     <button class="btn btn-light btn-sm btn-rounded m-1" (click)="send()" style="border-radius: 10px;">Enregister</button>
                     <button class="btn btn-light btn-sm btn-rounded m-1" style="background: #2a73e8; color:white; border-radius:10px;">Envoyer</button>
                     <button class="btn btn-light btn-sm btn-rounded m-1" style="border-radius: 10px;">Imprimer</button>
                    </div>
                    <h6 class="text-secondary ms-3">Synthèse de la feuille de temps</h6>
                    <div class="d-flex ms-0">
                      <div class="col-lg-10">
                    <div class="mb-2" style="border-radius:16px; background-color: lightgrey;">
                      <div class="d-flex justify-content-evenly text-dark m-2">
                      <span class="w-50">La semaine du <span *ngIf="!today">...</span> {{today}} au <span *ngIf="!today">....</span><span *ngIf="today"> {{today+7}}</span></span>
                      <span class="w-25" *ngFor="let e of allweek">{{e}}</span>
                      <!-- <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span> -->
                    </div>
                    </div>
                    <div class="bg-light mb-2" style="border-radius:16px;">
                    <div class="d-flex justify-content-evenly text-dark m-2">
                      <span class="w-50">Facturable</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                    </div>
                  </div>

                  <div class="bg-light mb-2" style="border-radius:16px;">
                    <div class="d-flex justify-content-evenly text-dark m-2">
                      <span class="w-50">Projet interne</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                    </div>
                  </div>

                  <div class="bg-light mb-2" style="border-radius:16px;">
                    <div class="d-flex justify-content-evenly text-dark m-2">
                      <span class="w-50">Non facturable</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                      <span class="w-25">Lundi, 18</span>
                    </div>
                  </div>

                  <div class="mb-2" style="border-radius:16px;background-color: lightgrey;">
                    <div class="d-flex justify-content-evenly text-dark m-2">
                    <span class="w-50">Total du temp</span>
                    <span class="w-25">Lundi, 18</span>
                    <span class="w-25">Lundi, 18</span>
                    <span class="w-25">Lundi, 18</span>
                    <span class="w-25">Lundi, 18</span>
                    <span class="w-25">Lundi, 18</span>
                    <span class="w-25">Lundi, 18</span>
                    <span class="w-25">Lundi, 18</span>
                    <span class="w-25">Lundi, 18</span>
                  </div>
                  </div>

                    </div>



                    <div class="col-lg-2 text-center align-self-end" style=" line-height: 10px;">
                      <h6 class="p-1 text-dark font-weight-bold">Régime des heures<span class="ms-3 p-1 text-success  rounded-circle" style="background: rgba(76, 175, 80, 0.3)">48</span></h6>
                      <h6 class="p-1 text-dark font-weight-bold">Heures non affectés<span class=" p-1 text-danger rounded-circle" style="background: rgba(175, 76, 76, 0.3)">48</span></h6>
                    </div>
                  </div>

                  </div>

                  <div *ngIf="today" class="card-content3 full_container">
                    <div class="d-flex">
                        <button type="button" class="btn btn-primary btn-sm mt-3 m-1 ms-3" (click)="openXl(content)" style="border-radius: 10px; color:white; background:#2a73e8;">
                         Ajouter une ligne
                        </button>
                        <button type="button" class="btn btn-sm btn-light mt-3 m-1 ms-3" style="border-radius: 10px;" >
                         Duppliquer
                        </button>
                        <button type="button" class="btn btn-light btn-sm mt-3 m-1 ms-3" style="border-radius: 10px;">
                        Supprimer                        </button>
                        <button type="button" class="btn btn-light btn-sm mt-3 m-1 ms-3" style="border-radius: 10px;">
                          Activer un projet
                        </button>
                    </div>

                    <div class="selector_body">
                      <form #myForm="ngForm">
                        <div class="mb-2" style="border-radius:20px; background-color: lightgrey;padding-top: 1px;padding-bottom: 1px;">
                          <div class="d-flex justify-content-evenly align-items-center text-dark m-2">
                            <div>
                              <input type="radio"  class="me-2" id="radio1" name="optradio" value="option1" checked>
                            </div>
                            <span class="w-50"><i class="fa fa-search me-2 w-25" style="visibility: hidden;"></i>Type heures</span>
                          <span class="w-50">Nature projet</span>
                          <span class="w-25">Projet</span>
                          <span class="w-50">Description du projet</span>
                          <span class="w-25">Activite</span>
                          <span class="w-25"><i class="fa-solid fa-message me-2" style="visibility: hidden;"></i>Site</span>
                          <span class="w-25" *ngFor="let e of allweek">{{e}}</span>
                          <span class="w-25">Total</span>
                        </div>
                        </div>


                        <!-- LIGNES -->
                        <div *ngFor="let l of lignes;index as j" class="mb-2 bg-light" style="border-radius:16px;padding-top: 0.01px;padding-bottom: 0.01px;">
                          <div class="d-flex justify-content-evenly  text-dark m-2">
                            <div class="mt-1 d-flex">
                              <input type="radio"  class="me-2" id="radio1" name="optradio" value="option1">
                            </div>

                            <span class="w-50"> <i class="fa fa-search me-2 w-25"></i>{{l.typeH}}</span>
                          <span class="w-50">{{l.NatureProjet}}</span>
                          <span class="w-25">{{l.Projet}}</span>
                          <span class="w-50">{{l.Description}}</span>
                          <span class="w-25">{{l.Activite}}</span>
                          <span class="w-25"><i class="fa-solid fa-message me-2"></i>{{l.Site}}</span>
                          <span class="w-25" *ngFor="let e of allweek ;index as i"><input type="number" value="{{l[j][i]}}" (change)="heures(i,heure,j)" #heure="ngModel" ngModel name="heure"  class="bg-light"></span>
                          <span class="w-25">{{calcultotalperline(j)}}</span>
                        </div>
                        </div>







                    </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>




        <div class="card-body p-4 mb-4" style="border-radius: 20px; border-top-left-radius: 30%">
          <ng-template #content let-modal>
            <div class="modal-header">
              <div class="form-group" style="margin-bottom: 0%">
                <label class="modal-title" style="font-size: 16px"><i class="fa fa-clock-o"
                    aria-hidden="true"></i>&nbsp;&nbsp;
                  Ajouter une nouvelle feuille du temps</label>
              </div>
              <button type="button" class="btn-close" aria-label="Close"
                (click)="modal.dismiss('Cross click')"></button>
            </div>

              <form #ligne="ngForm" (ngSubmit)="addligne(ligne)">
              <div class="modal-body" style="margin-bottom:0%;" >
                  <!--*****************************************************************************-->
                  <div class="form-row">
                    <div class="form-group col-md-12">
                        <!--Types d’heures-->
                        <label>Types d’heures</label>
                        <select id="inputCategorie" name="typeH" #typeH="ngModel" ngModel required class="custom-select form-control-sm">
                            <option value="élevé">Élevé</option>
                            <option value="normale">Normale</option>
                            <option value="faible">Faible</option>
                        </select>
                        <div class="invalid-feedback">Indication du types d’heures est obligatoire </div>
                     </div>
                  </div>
                  <!--********************************************************************************-->
                  <div class="form-row">
                    <div class="form-group col-md-12">
                        <!--Nature du projet-->
                        <label>Nature du projet</label>
                        <select id="inputCategorie" class="custom-select form-control-sm" name="NatureProjet" #NatureProjet="ngModel" ngModel required >
                            <option value="Facturable">Facturable</option>
                            <option value="Non facturable">Non facturable</option>
                            <option value="Interne">Interne</option>
                        </select>
                        <div class="invalid-feedback">Indication du nature du projet est obligatoire </div>
                     </div>
                  </div>
                  <!--*************************************************************************************-->
                  <div class="form-row">
                      <div class="form-group col-md-12">
                        <label>Nom du projet</label>
                        <input type="text"  ngModel name="Projet" class="form-control" id="inputTitre" #Projet="ngModel">
                        <div class="invalid-feedback">Nom du projet est obligatoire </div>
                      </div>
                  </div>
                  <!--*************************************************************************************-->
                  <div class="form-row">
                    <div class="form-group col-md-12">
                        <!--Activite-->
                        <label>Activite</label>
                        <select id="inputCategorie" class="custom-select form-control-sm" name="Activite" #Activite="ngModel" ngModel>
                            <option value="Activite n°1">Activite n°1</option>
                            <option value="Activite n°2">Activite n°2</option>
                            <option value="Activite n°3">Activite n°3</option>
                        </select>
                        <div class="invalid-feedback">Indication d'Activite est obligatoire </div>
                     </div>
                  </div>
                  <!--*************************************************************************************-->
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <!--Description -->
                      <label>Description</label>
                      <textarea id="descProjet" class="form-control" name="Description" #Description="ngModel" ngModel rows="1" cols="13" ></textarea>
                    </div>
                  </div>
                  <!--*************************************************************************************-->
                  <div class="form-row">
                      <div class="form-group col-md-12">
                         <!--Site -->
                        <label>Site</label>
                        <input type="text" class="form-control" id="inputTitre" name="Site" #Site="ngModel" ngModel>
                        <div class="invalid-feedback">Indication du site est obligatoire </div>
                      </div>
                  </div>
                  <!--*************************************************************************************-->
                </div>



            <div class="modal-footer d-flex justify-content-center">
              <button class="btn btn-light" type="submit"  style="
                  border: none;
                  border-radius: 8px;
                  font-size: 12px;
                  width: 120px;
                  height: 30px;
                  color: rgb(109, 109, 109);
                " (click)="modal.close('Close click')" (click)="goto()">
                <i class="fas fa-save"></i>&nbsp;&nbsp;Enregister
              </button>
              <button type="submit" class="btn btn-primary" style="
                  border: none;
                  border-radius: 8px;
                  background-color: #2a73e8;
                  width: 200px;
                  height: 30px;
                  font-size: 12px;" (click)="modal.close('Close click')">
                <i class="fas fa-solid fa-paper-plane"></i>&nbsp;&nbsp;
                Enregistrer et Suivant
              </button>
              <button type="reset" class="btn btn-light" style="
                  border: none;
                  border-radius: 8px;
                  font-size: 12px;
                  width: 100px;
                  height: 30px;
                  color: rgb(109, 109, 109);
                " (click)="modal.close('Close click')">
                <i class="fa fa-times"></i>&nbsp;&nbsp; Annuler
              </button>
            </div>
          </form>
          </ng-template>



