<app-aside-bar></app-aside-bar>

<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-content">
            <section class="section" style="margin-top:-2%;">
                <div class="section-body">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="card card-light">
                                <div class="card-header" style="margin-bottom:-2%;margin-top:2%">
                                    <h4><label class="modal-title" style="margin-left:15%;width:100%;"> Liste des projets</label></h4>

                                    <!--
                                <div class="form-group" style="width:20%;position:absolute;right:225px;">
                                    <div class="input-group mb-2" >
                                     
                                        &nbsp;<div class="input-group-text" style="border-radius: 45% 0% 0% 45%; height:31px;background-color:transparent;"><i class="fa-solid fa-magnifying-glass" style="color:#48dbfb;"></i></div>
                                     
                                      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
                                    </div>
                                </div>
                                -->
                                    <button class="btn btn-outline-info mb-2 me-2"
                                        style="position:absolute;right:320px;font-size:14px;"
                                        (click)="openSm(content)"><i class="fa-solid fa-plus"></i>&nbsp;Nouveau
                                        projet</button>
                                    <input type="search" class="form-control mb-2 me-2" name="categorie"
                                        placeholder="Rechercher" style="width:20%;position:absolute;right:32px;"
                                        autocomplete="off" (keyup)="filterData($event)" />


                                </div>
                                <!-- BEGIN : MODAL - ADD PROJECT -->

                                <ng-template #content let-modal>
                                    <form [formGroup]="projectForm" (ngSubmit)="addProject()">
                                        <div class="modal-header">
                                            <div class="form-group col-md-9" style="margin-bottom:0%;">
                                                <label class="modal-title" style="font-size: 16px;"><i
                                                        class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;{{
                                                    modalName }}
                                                </label>
                                            </div>

                                            <button type="button" class="btn-close" aria-label="Close"
                                                data-dismiss="modal" (click)="modal.dismiss('Cross click')"></button>
                                        </div>
                                        <!---->
                                        <div class="modal-body" style="margin-bottom:-5%;">
                                            <div class="form-group">
                                                <div class="form-row">
                                                    <!--<div class="form-group col-md-4">
                                                        <div class="pretty p-switch p-outline"  style="width:20%;position:absolute;left:100px;">
                                                            <input type="checkbox" formControlName="activatedProject"/>
                                                            <div class="state p-info">
                                                                <label >Activier ce projet</label>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <div class="pretty p-switch p-slim" style="width:20%;position:absolute;right:20px;">
                                                                <input type="checkbox"/>
                                                                <div class="state p-info">
                                                                <label style="font-size:12px">Activier ce projet</label>
                                                                </div>
                                                            </div>
                                                        </div>-->
                                                </div>
                                                <!-- //////////////////////////////// MODAL OF PROJECT ///////////////////////////////////-->
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <!-- ID -->
                                                        <input type="text" hidden="" class="form-control "
                                                            id="inputTitre" formControlName="_id">
                                                        <!--Nom-->
                                                        <label>Intitulé du projet</label>
                                                        <input type="text" class="form-control form-control-sm"
                                                            id="inputTitre" formControlName="nameProject" [ngClass]="
                                                            (projectForm.get('nameProject')?.touched ||
                                                            projectForm.get('nameProject')?.dirty) &&
                                                            projectForm.get('nameProject')?.hasError('required')
                                                              ? 'is-invalid'
                                                              : '' ||
                                                              ((projectForm.get('nameProject')?.touched ||
                                                              projectForm.get('nameProject')?.dirty) &&
                                                              !projectForm.get('nameProject')?.invalid)
                                                                ? 'is-valid'
                                                                : ''
                                                            ">
                                                        <div class="invalid-feedback">Intitulé du projet est obligatoire
                                                        </div>
                                                    </div>

                                                    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->

                                                    <div class="form-group col-md-6">
                                                        <!--Priorité-->
                                                        <label>Type du projet</label>
                                                        <select id="inputCategorie"
                                                            class="custom-select form-control-sm"
                                                            formControlName="typeOfProject" [ngClass]="
                                                            (projectForm.get('typeOfProject')?.touched ||
                                                            projectForm.get('typeOfProject')?.dirty) &&
                                                            projectForm.get('typeOfProject')?.hasError('required')
                                                              ? 'is-invalid'
                                                              : '' ||
                                                            ((projectForm.get('typeOfProject')?.touched ||
                                                            projectForm.get('typeOfProject')?.dirty) &&
                                                            !projectForm.get('typeOfProject')?.invalid)
                                                              ? 'is-valid'
                                                              : ''
                                                            ">
                                                            <option value="facturable">Facturable</option>
                                                            <option value="non facturable">Non facturable</option>
                                                            <option value="interne">Interne</option>
                                                        </select>
                                                        <div class="invalid-feedback">Indication du type du projet est
                                                            obligatoire </div>
                                                    </div>
                                                </div>
                                                <!-- __________________________________________________________________________________-->
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <!--Nom-->
                                                        <label>Département</label>
                                                        <select id="inputCategorie"
                                                            class="custom-select form-control-sm"
                                                            formControlName="departmentProject" [ngClass]=" 
                                                        (projectForm.get('departmentProject')?.touched ||
                                                        projectForm.get('departmentProject')?.dirty) &&
                                                        projectForm.get('departmentProject')?.hasError('required')
                                                          ? 'is-invalid'
                                                          : '' ||
                                                        ((projectForm.get('departmentProject')?.touched ||
                                                        projectForm.get('departmentProject')?.dirty) &&
                                                        !projectForm.get('departmentProject')?.invalid)
                                                          ? 'is-valid'
                                                          : ''
                                                        ">
                                                            <option value="Informatique">Informatique</option>
                                                            <option value="Ressources Humaines">Ressources Humaines
                                                            </option>
                                                            <option value="Marketing">Marketing</option>
                                                            <option value="Autre spécialité">Autre spécialité</option>
                                                        </select>
                                                        <div class="invalid-feedback">L'indication du département du
                                                            projet est obligatoire </div>
                                                    </div>

                                                    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->

                                                    <div class="form-group col-md-6">
                                                        <label>Ligne du service</label>
                                                        <select id="inputCategorie"
                                                            class="custom-select form-control-sm"
                                                            formControlName="serviceLine" [ngClass]=" 
                                                            (projectForm.get('serviceLine')?.touched ||
                                                            projectForm.get('serviceLine')?.dirty) &&
                                                            projectForm.get('serviceLine')?.hasError('required')
                                                              ? 'is-invalid'
                                                              : '' ||
                                                            ((projectForm.get('serviceLine')?.touched ||
                                                            projectForm.get('serviceLine')?.dirty) &&
                                                            !projectForm.get('serviceLine')?.invalid)
                                                              ? 'is-valid'
                                                              : ''
                                                            ">
                                                            <!--Création et dessign / Informatique / Création de logiciel / Marketing / Gestion de projet / Ventes / Realtions / Gestion des taches / Ressources Humaines / Opérations-->
                                                            <option value="Création et dessign">Création et dessign
                                                            </option>
                                                            <option value="Informatique">Informatique</option>
                                                            <option value="Création de logiciel">Création de logiciel
                                                            </option>
                                                            <option value="Marketing">Marketing</option>
                                                            <option value="Gestion de projet">Gestion de projet</option>
                                                            <option value="Ventes">Ventes</option>
                                                            <option value="Relaions">Relations</option>
                                                            <option value="Gestion des taches">Gestion des taches
                                                            </option>
                                                            <option value="Ressources Humaines">Ressources Humaines
                                                            </option>
                                                        </select>
                                                        <div class="invalid-feedback">Indication du ligne du service du
                                                            projet est obligatoire </div>
                                                    </div>
                                                </div>
                                                <!-- __________________________________________________________________________________-->
                                                <div class="form-row">
                                                    <div class="form-group col-md-12">
                                                        <!--Description -->
                                                        <label>Description du projet</label>
                                                        <textarea id="descProjet" class="form-control" name="descProjet"
                                                            rows="1" cols="13" formControlName="descProject" [ngClass]=" 
                                                        (projectForm.get('descProject')?.touched ||
                                                        projectForm.get('descProject')?.dirty) &&
                                                        projectForm.get('descProject')?.hasError('required')
                                                          ? 'is-invalid'
                                                          : '' ||
                                                        ((projectForm.get('descProject')?.touched ||
                                                        projectForm.get('descProject')?.dirty) &&
                                                        !projectForm.get('descProject')?.invalid)
                                                          ? 'is-valid'
                                                          : ''
                                                        "></textarea>
                                                    </div>
                                                    <div class="pretty p-icon p-jelly p-round p-bigger"
                                                        style="position:absolute;right:20px;">
                                                        <input type="checkbox" formControlName="activatedProject"
                                                            checked />
                                                        <div class="state p-info">
                                                            <i class="icon material-icons">done</i>
                                                            <label>Activer ce projet</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- __________________________________________________________________________________-->

                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>Partner</label>
                                                    <input id="inputCategorie" class="form-control form-control-sm"
                                                        formControlName="partnerOfProject" [ngClass]=" 
                                                        (projectForm.get('partnerOfProject')?.touched ||
                                                        projectForm.get('partnerOfProject')?.dirty) &&
                                                        projectForm.get('partnerOfProject')?.hasError('required')
                                                          ? 'is-invalid'
                                                          : '' ||
                                                        ((projectForm.get('partnerOfProject')?.touched ||
                                                        projectForm.get('partnerOfProject')?.dirty) &&
                                                        !projectForm.get('partnerOfProject')?.invalid)
                                                          ? 'is-valid'
                                                          : ''
                                                        ">
                                                    <div class="invalid-feedback">Indication du partner du projet est
                                                        obligatoire </div>
                                                </div>

                                                <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  -->

                                                <div class="form-group col-md-6">
                                                    <label>Manager</label>
                                                    <input id="inputCategorie" class="form-control form-control-sm"
                                                        formControlName="managerOfProject" [ngClass]=" 
                                                        (projectForm.get('managerOfProject')?.touched ||
                                                        projectForm.get('managerOfProject')?.dirty) &&
                                                        projectForm.get('managerOfProject')?.hasError('required')
                                                          ? 'is-invalid'
                                                          : '' ||
                                                        ((projectForm.get('managerOfProject')?.touched ||
                                                        projectForm.get('managerOfProject')?.dirty) &&
                                                        !projectForm.get('managerOfProject')?.invalid)
                                                          ? 'is-valid'
                                                          : ''
                                                        ">
                                                    <div class="invalid-feedback">Indication du manager du projet est
                                                        obligatoire </div>
                                                </div>
                                            </div>
                                            <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  -->
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label>Client</label>
                                                    <select id="inputCategorie" class="custom-select form-control-sm"
                                                        formControlName="clientOfProject" [ngClass]="
                                                            (projectForm.get('clientOfProject')?.touched ||
                                                            projectForm.get('clientOfProject')?.dirty) &&
                                                            projectForm.get('clientOfProject')?.hasError('required')
                                                              ? 'is-invalid'
                                                              : '' ||
                                                            ((projectForm.get('clientOfProject')?.touched ||
                                                            projectForm.get('clientOfProject')?.dirty) &&
                                                            !projectForm.get('clientOfProject')?.invalid)
                                                              ? 'is-valid'
                                                              : ''
                                                            ">
                                                        <option *ngFor="let client of clientsList "
                                                            [value]="client.nameClient">{{client.nameClient}}</option>
                                                    </select>
                                                    <div class="invalid-feedback">Indication du client du projet est
                                                        obligatoire </div>
                                                </div>
                                            </div>
                                            <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  -->
                                            <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  -->
                                            <!--<div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label>Date du création</label>
                                                    <input id="inputCategorie"
                                                        class="form-control form-control-sm"
                                                        formControlName="createdAtProject" type="date" [ngClass]=" 
                                                        (projectForm.get('createdAtProject')?.touched ||
                                                        projectForm.get('createdAtProject')?.dirty) &&
                                                        projectForm.get('createdAtProject')?.hasError('required')
                                                          ? 'is-invalid'
                                                          : '' ||
                                                        ((projectForm.get('createdAtProject')?.touched ||
                                                        projectForm.get('createdAtProject')?.dirty) &&
                                                        !projectForm.get('createdAtProject')?.invalid)
                                                          ? 'is-valid'
                                                          : ''
                                                        ">

                                                    <div class="invalid-feedback">Indication du client du projet est obligatoire </div>
                                                </div>
                                            </div> -->
                                            <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  -->


                                        </div>

                                        <!--<div class="modal-footer">
                                            <button type="button" class="btn btn-light"
                                                (click)="modal.close('Close click')">Annuler</button>
                                            <button type="submit" class="btn btn-outline-info mb-2 me-2"
                                                [disabled]="projectForm.invalid"
                                                (click)="modal.close('Close click')">Sauvgarder</button>
                                        </div>-->
                                        <div class="modal-footer d-flex justify-content-center">
                                            <button type="button" class="btn btn-light" style="
                                                border: none;
                                                border-radius: 8px;
                                                font-size: 12px;
                                                width: 100px;
                                                height: 30px;
                                                color: rgb(109, 109, 109);
                                            " (click)="modal.close('Close click')">
                                                <i class="fa fa-times"></i>&nbsp;&nbsp; Annuler
                                            </button>
                                            <button type="submit" class="btn btn-primary" style="
                                                border: none;
                                                border-radius: 8px;
                                                background-color: #2a73e8;
                                                width: 200px;
                                                height: 30px;
                                                font-size: 12px;" (click)="modal.close('Close click')
                                                " [disabled]="projectForm.invalid">
                                                <i class="fas fa-solid fa-paper-plane"></i>&nbsp;&nbsp;
                                                Enregistrer et Suivant
                                            </button>
                                        </div>

                                    </form>
                                </ng-template>
                                <!-- END : MODAL - ADD PROJECT -->
                                <!-- //////////////////////////////// BEGIN : MODAL OF PROJECT ///////////////////////////////////-->


                                <!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->

                                <div class="container">
                                    <table mat-table [dataSource]="dataSource" style="margin-top:5%;width:100%" matSort>

                                        <!--- Note that these columns can be defined in any order.
                                            The actual rendered columns are set as a property on the row definition" -->

                                        <!-- Position Column 
                                            <ng-container matColumnDef="Id">
                                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                                            </ng-container> -->

                                        <!-- Name Column -->
                                        <ng-container matColumnDef="nameProject">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Titre</th>
                                            <td mat-cell *matCellDef="let element"> {{element.nameProject}} </td>
                                        </ng-container>

                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="descProject">
                                            <th mat-header-cell mat-sort-header *matHeaderCellDef>Description</th>
                                            <td mat-cell *matCellDef="let element"> {{element.descProject}} </td>
                                        </ng-container>

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="stateOfProject">
                                            <th mat-header-cell mat-sort-header *matHeaderCellDef>Statu</th>
                                            <td mat-cell *matCellDef="let element">
                                                <div class="badge badge-success">
                                                    {{element.stateOfProject}}
                                                </div>
                                            </td>
                                        </ng-container>

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="typeOfProject">
                                            <th mat-header-cell mat-sort-header *matHeaderCellDef>Type</th>
                                            <td mat-cell *matCellDef="let element"> {{element.typeOfProject}} </td>
                                        </ng-container>

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="departmentProject">
                                            <th mat-header-cell mat-sort-header *matHeaderCellDef> Département </th>
                                            <td mat-cell *matCellDef="let element"> {{element.departmentProject}}
                                            </td>
                                        </ng-container>
                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="managerOfProject">
                                            <th mat-header-cell mat-sort-header *matHeaderCellDef>Manager</th>
                                            <td mat-cell *matCellDef="let element"> {{element.managerOfProject}} </td>
                                        </ng-container>

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="partnerOfProject">
                                            <th mat-header-cell mat-sort-header *matHeaderCellDef>Partner</th>
                                            <td mat-cell *matCellDef="let element"> {{element.partnerOfProject}} </td>
                                        </ng-container>

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="clientOfProject">
                                            <th mat-header-cell mat-sort-header *matHeaderCellDef> Client </th>
                                            <td mat-cell *matCellDef="let element"> {{element.clientOfProject}}
                                            </td>
                                        </ng-container>
                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="actions">
                                            <th mat-header-cell mat-sort-header *matHeaderCellDef>Actions</th>
                                            <td mat-cell *matCellDef="let element">
                                                <button type="button" class="btn btn-outline-info btn-sm"
                                                    (click)="deleteProject(element._id)"><i
                                                        class="fa-solid fa-trash-can"></i>
                                                </button>
                                                &nbsp;&nbsp;
                                                <button type="button" class="btn btn-outline-info btn-sm "
                                                    (click)="openSmEdit(content,element)"><i
                                                        class="fa-solid fa-pen-to-square"></i>
                                                </button>
                                            </td>
                                        </ng-container>



                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                            [ngClass]="{'highlight': row.isSeen }"></tr>
                                    </table>
                                    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                                        showFirstLastButtons aria-label="Select page of periodic elements">
                                    </mat-paginator>
                                    <!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>