/** */
.ngx-pagination {
    padding-left: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
/**  .btn-info  */
.ngx-pagination .current {
    background: #17a2b8 !important;
    border: transparent !important;
    border-radius: 25px !important;
}

.ngx-pagination .current:hover {
    background: #17a2b8 !important;
    border-radius: 25px !important; 
    border: transparent !important;
}
h1 {
    background-color:red;
}