
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar sticky">
        <div class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li>
              <a data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn">
                  <i class="fa fa-bars" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a class="nav-link nav-link-lg fullscreen-btn">
              <i class="fa fa-window-maximize" aria-hidden="true"></i>
              </a>
            </li>
            <!-- Begin : Actions Button -->
            <li>
              <div class="buttons">
              <a href="" class="btn btn-icon icon-left">Actions</a>
              </div>
            </li>
            <!-- End : Actions Button -->
            <!-- Begin : Drop Up Button -->
            <li>
              <div class="btn-group dropright">
                <button type="button" class="btn btn-succes dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">

                  Liste de mes entités
                </button>
                <div class="dropdown-menu dropright" >
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
            </li>
            <!-- End : Drop Up Button -->
          </ul>
        </div>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown dropdown-list-toggle">
            <a data-toggle="dropdown"
              class="nav-link nav-link-lg message-toggle">
              <i class="fa fa-bell-o" aria-hidden="true"></i>
              <span class="badge headerBadge1"> 6 </span>
            </a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
              <div class="dropdown-header">
                Notifications
                <div class="float-right">
                  <a >Mark All As Read</a>
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-icons">
                <a  class="dropdown-item dropdown-item-unread"> <span
                    class="dropdown-item-icon bg-primary text-white"> <i class="fa-solid fa-code"></i>
                  </span> <span class="dropdown-item-desc"> Template update is
                    available now! <span class="time">2 Min
                      Ago</span>
                  </span>
                </a> <a  class="dropdown-item"> <span class="dropdown-item-icon bg-info text-white"> <i class="far
												fa-user"></i>
                  </span> <span class="dropdown-item-desc"> <b>You</b> and <b>Dedik
                      Sugiharto</b> are now friends <span class="time">10 Hours
                      Ago</span>
                  </span>
                </a> <a  class="dropdown-item"> <span class="dropdown-item-icon bg-success text-white"> <i
                      class="fas
												fa-check"></i>
                  </span> <span class="dropdown-item-desc"> <b>Kusnaedi</b> has
                    moved task <b>Fix bug header</b> to <b>Done</b> <span class="time">12
                      Hours
                      Ago</span>
                  </span>
                </a> <a  class="dropdown-item"> <span class="dropdown-item-icon bg-danger text-white"> <i
                      class="fas fa-exclamation-triangle"></i>
                  </span> <span class="dropdown-item-desc"> Low disk space. Let's
                    clean it! <span class="time">17 Hours Ago</span>
                  </span>
                </a> <a  class="dropdown-item"> <span class="dropdown-item-icon bg-info text-white"> <i class="fas
												fa-bell"></i>
                  </span> <span class="dropdown-item-desc"> Welcome to Otika
                    template! <span class="time">Yesterday</span>
                  </span>
                </a>
              </div>
              <div class="dropdown-footer text-center">
                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </li>
          <li class="dropdown"><a data-toggle="dropdown"
              class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="assets/img/user.png"
                class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
              <div class="dropdown-title">Hello Sarah Smith</div>
              <a href="profile.html" class="dropdown-item has-icon"> <i class="far
										fa-user"></i> Profile
              </a> <a href="timeline.html" class="dropdown-item has-icon"> <i class="fas fa-bolt"></i>
                Activities
              </a> <a  class="dropdown-item has-icon"> <i class="fas fa-cog"></i>
                Settings
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item has-icon text-danger" (click)="Logout()"> <i class="fas fa-sign-out-alt"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-2">

        <aside id="sidebar-wrapper">
          <div class="sidebar-brand justify-content-center">
            <a href="index.html"> <img alt="image" width="40"  src="https://res.cloudinary.com/dcsvpezpd/image/upload/v1655382589/Data_square_xaetzo.png" style="vertical-align:middle" class="img img-responsive" />
            </a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Principale</li>
            <li class="dropdown">
              <a href="index.html" class="nav-link"><i class="fa-solid fa-braille"></i><span>Tableau de Board</span></a>
            </li>
            <li class="dropdown">
              <a href="" class="menu-toggle nav-link has-dropdown"><i class="fa-solid fa-users-rectangle"></i><span>Mes interventions</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" routerLink="/Projects">Mes projets</a></li>
                <!--<li><a class="nav-link" href="widget-data.html">Mes rôles</a></li>-->
              </ul>
            </li>
            <li class="dropdown">
              <a href="" class="menu-toggle nav-link has-dropdown"><i class="fa-solid fa-business-time"></i><span>Gestion du temps</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" routerLink="/time">Feuilles de temps</a></li>
                <!--<li><a class="nav-link" href="portfolio.html">Amendements</a></li>
                <li><a class="nav-link" href="blog.html">Compensations</a></li>-->
              </ul>
            </li>
            <li class="dropdown">
              <a href="" class="menu-toggle nav-link has-dropdown"><i class="fa-solid fa-file-invoice-dollar"></i><span>Gestion des dépenses</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" routerLink="/e">Mes dépenses</a></li>
                <!--<li><a class="nav-link" href="email-inbox.html">Mes notes de frais</a></li>
                <li><a class="nav-link" href="email-compose.html">Approbations</a></li>
                <li><a class="nav-link" href="email-read.html">Mes paiements</a></li>-->
              </ul>
            </li>
            <!--Begin : Centre de facturation -->
            <!--<li class="dropdown">
              <a href="" class="menu-toggle nav-link has-dropdown"><i class="fa-solid fa-file-lines"></i><span>Centre de facturation</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="avatar.html">Factures</a></li>
                <li><a class="nav-link" href="card.html">Avoirs</a></li>
                <li><a class="nav-link" href="modal.html">Règles de facturation</a></li>
              </ul>
            </li>-->
            <!--End : Centre de facturation -->

            <!---->
            <li class="menu-header">Administartion</li>
            <li class="dropdown">
              <a href="" class="menu-toggle nav-link has-dropdown" ><i class="fa-solid fa-gear"></i><span>Général</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link"  routerLink="/list-users">Gestion des utilisateurs</a></li>
                <!--
                <li><a class="nav-link" href="forms-advanced-form.html">Gestion des profils</a></li>
                <li><a class="nav-link" href="forms-editor.html">Gestion des rôles</a></li>
                <li><a class="nav-link" href="forms-validation.html">Gestion des délégations </a></li>
                <li><a class="nav-link" href="forms-validation.html">Gestion d'approbation </a></li>
                -->
                <hr>
                <li><a class="nav-link" routerLink="/Clients">Gestion des clients </a></li>
                <li><a class="nav-link" routerLink="/Projects">Gestion des projets</a></li>
                <li><a class="nav-link" routerLink="/Supervisors">Gestion des superviseurs</a></li>
                <li><a class="nav-link" routerLink="/list">Controller des projets</a></li>
                <hr>
              </ul>
            </li>
            <!---->
            <li class="dropdown">
              <a href="" class="menu-toggle nav-link has-dropdown" ><i class="fa-solid fa-gears"></i><span>Spécifiques</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="basic-form.html">Gestion des entités</a></li>
                <li><a class="nav-link" href="forms-advanced-form.html">Moyens de paiement</a></li>
                <li><a class="nav-link" href="forms-editor.html">Taux TVA</a></li>
                <li><a class="nav-link" href="forms-validation.html">Pays</a></li>
                <li><a class="nav-link" href="forms-validation.html">Devises</a></li>
              </ul>
            </li>
            <!---->
          </ul>
        </aside>
      </div>
      <!-- Main Content -->


      <!-- End : Footer -->
    </div>
  </div>

