<app-aside-bar></app-aside-bar>

<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-content">
            <section class="section" style="margin-top:-2%;">
                <div class="section-body">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="card card-light">
                                <div class="card-header" style="margin-top:1%;">
                                    <h4><label class="modal-title" style="margin-left:15%;width:100%;"> Liste des projets</label></h4>
                                    <!--
                                <div class="form-group" style="width:20%;position:absolute;right:225px;">
                                    <div class="input-group mb-2" >
                                     
                                        &nbsp;<div class="input-group-text" style="border-radius: 45% 0% 0% 45%; height:31px;background-color:transparent;"><i class="fa-solid fa-magnifying-glass" style="color:#48dbfb;"></i></div>
                                     
                                      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
                                    </div>
                                </div>
                                -->
                                    <!--<input type="search" class="form-control mb-2 me-2" name="categorie" placeholder="Entrer le titre du projet" style="width:20%;position:absolute;right:20px;"
                                [(ngModel)]="searchedProject" (ngModelChange)="Search()" />-->
                                    <input type="search" class="form-control mb-2 me-2" name="categorie"
                                        placeholder="Rechercher" style="width:20%;position:absolute;right:32px;"
                                        autocomplete="off" (keyup)="filterData($event)" />
                                    <!--<button class="btn btn-outline-info mb-2 me-2" style="position:absolute;right:50px;" (click)="openSm(content)"><i class="fa-solid fa-plus"></i>&nbsp;Nouveau projet</button>-->
                                </div>
                                <!--/////////////////////////////////////////////////////////-->
                                <div class="card-body" style="margin-top:-1%;">
                                    <div class="container">
                                        <!--"nameProject", "descProject","typeOfProject","clientOfProject","activatedProject"-->
                                        <table mat-table [dataSource]="dataSource" style="width:100%"
                                            matSort>

                                            <!--- Note that these columns can be defined in any order.
                                        The actual rendered columns are set as a property on the row definition" -->

                                            <!-- Position Column 
                                        <ng-container matColumnDef="Id">
                                            <th mat-header-cell *matHeaderCellDef> No. </th>
                                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                                        </ng-container> -->

                                            <!-- Name Column -->
                                            <ng-container matColumnDef="nameProject">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Titre</th>
                                                <td mat-cell *matCellDef="let element"> {{element.nameProject}} </td>
                                            </ng-container>

                                            <!-- Weight Column -->
                                            <ng-container matColumnDef="descProject">
                                                <th mat-header-cell mat-sort-header *matHeaderCellDef>Description</th>
                                                <td mat-cell *matCellDef="let element"> {{element.descProject}} </td>
                                            </ng-container>


                                            <!-- Symbol Column -->
                                            <ng-container matColumnDef="typeOfProject">
                                                <th mat-header-cell mat-sort-header *matHeaderCellDef>Type</th>
                                                <td mat-cell *matCellDef="let element"> {{element.typeOfProject}} </td>
                                            </ng-container>


                                            <!-- Symbol Column -->
                                            <ng-container matColumnDef="clientOfProject">
                                                <th mat-header-cell mat-sort-header *matHeaderCellDef> Client </th>
                                                <td mat-cell *matCellDef="let element"> {{element.clientOfProject}}
                                                </td>
                                            </ng-container>
                                            <!-- Symbol Column -->
                                            <ng-container matColumnDef="activatedProject">
                                                <th mat-header-cell mat-sort-header *matHeaderCellDef>Activé</th>
                                                <td mat-cell *matCellDef="let element">

                                                    <div class="pretty p-switch" style="text-align:center;align-items: center;" >
                                                        <input type="checkbox" *ngIf="element.activatedProject === true " checked="" (change)="saveChange(element._id , element)"/>
                                                        <input type="checkbox" *ngIf="element.activatedProject === false" (change)="saveChange(element._id , element)"/>
                                                        <div class="state p-info">
                                                        <label ></label>
                                                        </div>
                                                    </div>

                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                                [ngClass]="{'highlight': row.isSeen }"></tr>
                                        </table>
                                        <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                                            showFirstLastButtons aria-label="Select page of periodic elements">
                                        </mat-paginator>
                                        <!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->
                                    </div>
                                </div>
                                <!--/////////////////////////////////////////////////////////-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

<!---->